<h1>Seja bem vindo</h1>
<h4>{{ anuncio }}</h4>
<div class="card" style="width: 18rem">
  <img [src]="foto" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">
      {{ nomeProduto | uppercase }}
      <!-- isso se chama pipe -->
      <span *ngIf="promocao; else elseBlock" class="badge bg-success">
        Promoção
      </span>
      <ng-template #elseBlock>
        <span class="badge bg-primary">Aproveite</span>
      </ng-template>
    </h5>
    <!-- trazer dados do typeScript para o html é interpolation -->
    <p class="card-text">Identificação: {{ idProduto | number: '2.0-0' }} <br>
    Validade: {{dataValidade | date : 'shortDate'}} </p>
    <a href="#" class="btn btn-primary float-end"> {{ preco | currency: 'BRL' : "symbol" :"1.2-3"}}</a>
  </div>
</div>
