<h1 class="my-3 text-primary">
  Listar produtos
  <button type="button" class="btn btn-success mt-2 float-end" routerLink="/produtos/cadastrar">Cadastrar</button>
</h1>

<div class="card shadow">
  <table class="table-light table-responsive table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Validade</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of listaProduto">
        <td>{{ prod.idProduto }}</td>
        <td>{{ prod.nome }}</td>
        <td>{{ prod.validade | date: 'shortDate' }}</td>
        <td>{{ prod.valor | currency }}</td>
        <td>
          <button class="btn btn-warning me-2">
            <i class="fa fa-edit" arial-hidden="true"></i>
          </button>
          <button class="btn btn-danger ">
            <i class="fa fa-trash-o" arial-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
